- id = "#{context}_tags"
= f.input context, input_html: {value: tags_value_string(f, context),
                                id: id, class: 'tags'}
:javascript
  window['#{id}_options'] = #{options.map(&:name)};