$include-html-global-classes: false;
@import "foundation_overrides";
@import 'foundation';
@import "mixins";


$main-header-padding: 10px;
header#main_header {
  background-color: $tertiary-color;
  padding: $main-header-padding 0;
  margin-bottom: $main-header-padding;
  text-transform: uppercase;

  nav {
    margin-bottom: 20px;
  }

  #logo img {
    float: right;
    margin-top: 5px;
  }
}

.tag h1 {
  background-color: $tertiary-color;
  margin: 40px 0 20px;
  display: inline-block;
  padding: 10px;
  @include radius(30px);
}

.recipe, #recipe {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 12px;
  margin-bottom: 20px;
  @include radius(5px);

  h2 {
    font-size: $h3-font-size;
    margin-bottom: $main-header-padding;
  }

  .row {
    display: inline;
  }

  .contact {
    background-color: $tertiary-color;
    padding: $main-header-padding;
    min-height: 75px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
