$include-html-global-classes: false;
@import "foundation_overrides";
@import 'foundation';
@import "mixins";

body header {
  background-color: #2D8AD8;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tag h1 {
  background-color: #2D8AD8;
  margin: 40px 0 20px;
  display: inline-block;
  padding: 10px;
  @include radius(30px);
}

.recipe {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 5px;
  @include radius(5px);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
