%strong= Contact.model_name.human
- contact = recipe.contacts.first
- if contact
  %ul.small-block-grid-2
    - if contact.country.present?
      %li
        %span{class: "fi-general-globe", title: "Country"}
        %span{title: contact.country_name}= contact.country
    - contact_options(contact).each do |option, icon_name, link|
      %li
        %span{class: icon_name, title: option.to_s.humanize}
        = link
- else
  %p
    = t('no_contact')